<div class="productsPage">
<div class="container">
<div class="row">
<div class="productsListTab">


<div class="row">      

<p id="notice"><%= notice %></p>



<p>
<strong>Title:</strong>
<%= @contact.title %>
</p>

<p>
<strong>Description:</strong>
<%= @contact.description %>
</p>
</div>
</div>
</div>
</div>
</div>